venv/
__pycahce__/
**/__pycache__
./screenshot
.vs/
test.py
image.png
output.png
.python-version
layout_colorwidget.py
credit.txt
.vscode/

x64/
/Debug/
/Release/
*.obj
*.pdb
*.dll
*.exe
*.ilk
*.idb
*.log
*.tlog


